h1 {
    color: steelblue;
    font-size: 40px ; 
    font-weight: 800 ;
    font-family: "times new roman", "Segoe ui light", "Arial" ;
    font-style: italic;  /* курсив*/
    text-align:  center; /* выравнивание текста*/
    
}
h2 {
    color: darkblue;
    font-size: 30px ; 
    font-weight: 800 ;
    font-family:  "times new roman", "Segoe ui light", "Arial";
    font-style: italic;  
    text-align:  center;
        
}

h4 {
    color: darkblue;
    font-size: 30px ; 
    font-weight: 800 ;
    font-family:  "times new roman", "Segoe ui light", "Arial";
    font-style: italic;
    text-align:  center;
}

ul {
    text-decoration: underline;
    }
#one {
    text-decoration: line-through;
    text-align:  center;
}

p {
     padding-left: 10px;
     text-indent: 14px;
}


